.btn {
    background-color: #770000;
    color: white;


}

.btn-search:hover {
    border-color: aliceblue;


}

.form-control {
    width: 70%;

    border-radius: .25;


}

.btn:hover {
    background-color: #770000;
    color: white;
    border-color: aliceblue;


}

.custom-icon {
    color: #ffffff;
    width: 10%;
    height: 10%;
    margin-top: 0%;
    margin-right: 13%;

}

.custom-icon:hover {
    color: #ffffff;
}

.inicio-item {
    list-style: none;
    /* Oculta el indicador de submenú */
}

.menu-bar {

    background-color: #770000;
    display: flex;
    /* justify-content: center; */
    width: 100rem;
    height: 3rem;

}

.menu-bar a {
    display: block;

    text-decoration: none;



}

.menu-bar li {

    position: relative;
}

.menu-bar li:hover ul {
    display: block;
}

.menu-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.menu-bar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-bar>ul.submenu>li>ul.subsumenu>li>a::after {
    display: none;
}

.menu-bar>ul>li {
    margin-top: 1%;
}

.menu-bar>ul>li>a:after {
    content: " ▼";
    font-size: 0.6em;
    vertical-align: middle;
}

.submenu {
    /* position:initial; */
    z-index: 1;


}

.submenu a {
    margin-top: -0.6em;
}

.submenu li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 120%;
    margin-bottom: 15%;
    text-align: center;
    padding: 5px;
    opacity: 500%;
    /* margin-left: 100px; */
    margin-right: 50px;



}

.submenu>li {
    display: inline-block;
    padding: 5px;
    position: relative;
    margin: 0px;
    right: 100px;




}

.submenu>li:hover>ul {
    display: block;
    text-align: center;

}

.submenu>li>a:after {
    content: none;
}

.submenu>li>ul {
    display: none;
    position: absolute;
    top: 60%;
    right: 20%;
    border-radius: 3%;
    background-color: #770000;
    opacity: 0.86;
    z-index: 2;


    /* opacity: 0.85; */
    width: 100%;

    height: 15rem;

}

.submenu>li>ul>li {
    display: block;
}

.subsumenu li {
    margin-top: 15%;
}

.subsumenu li:hover {
    background-color: #9b9797;
    border-radius: 8px;


}

.subsumenu>li>a {
    color: white;
    margin-right: 70%;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}


.card {

    margin-left: 50%;
    width: 70%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #f7f7f7;
    margin-top: 10px;






}

.page-link{
    color: #770000;
    
    
}

.page-link:hover{
    color: gray;
}
.card .btn-add {
    color: white;
    background-color: #770000;
    border: #ffffff;
    width: 90%;
    /* Ajusta el ancho del botón según tu preferencia */
    height: 15%;
    /* Ajusta la altura del botón según tu preferencia */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 5%;
    border-radius: 5px;




}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 15%;
    margin-top: 20px;



}

.card-footer .btn {
    color: #770000;
    background-color: gray;
    border: #9b9797;
    width: 15%;
    /* Ajusta el ancho del botón según tu preferencia */
    height: 1.5rem;
    /* Ajusta la altura del botón según tu preferencia */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    margin-top: -1px;
    border-radius: 5px;
}

.btn-add:hover {

    background-color: rgb(179, 1, 1);


}

.card-img-top {
    transition: transform 0.3s;
    /* Agrega una transición suave */
    cursor: pointer;
    margin-top: 1.5rem;
}

.card-img-top:hover {
    transform: scale(1.1);
    /* Agranda la imagen en un 10% */
}

.card-text {

    font-size: 1 rem;
    margin-left: 1%;
}

.card-title {
    color: #770000;
    margin: 10px;
    font-size: 1.3rem;
    margin-left: 1%;

}

.card-size {
    margin-left: 1%;
    margin-top: -10px;
}


